@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: rgb(170, 71, 176);
    width: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  /* background-color: black; */
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 20px;
  height: 3px;
  background: rgb(250, 199, 255);
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle input {
  display: block;
  position: absolute;
  background-color: black;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* mobile */
